{% load static %}
<!-- delete_product_modal.html -->
<div class="modal" id="deleteProductModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa Sản Phẩm</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa sản phẩm <span id="product-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <a href="{% url 'deleteProduct' %}?id={{ product.id }}" type="button" class="btn btn-danger">Xác nhận</a>
            </div>
        </div>
    </div>
</div>

