{% extends 'app/base.html' %}
{% load static %}
{% block add_address %}

    <div class="container mt-4 mb-3" style="width: 550px; border: #1b1e21">
        <h2 class="mb-4 text-center">THÊM ĐỊA CHỈ</h2>
        <form method="POST" action="" >
            {% csrf_token %}
            <div class="form-group">
                <label for="categoryName">Tên người nhận <span class="required">*</span></label>
                {{ form.name_user }}
            </div>
            <div class="form-group">
                <label for="categoryName">Số điện thoại <span class="required">*</span></label>
                {{ form.mobile }}
            </div>
{#             <div class="form-group">#}
{#                <label for="categoryName">Địa chỉ:</label>#}
{#                 <br>#}
{#                {{ form.city }}#}
{#                {{ form.district }}#}
{#                {{ form.commune }}#}
{#            </div>#}
            <div class="form-group">
                <label for="categoryDescription">Thành phố/ Tỉnh <span class="required">*</span></label>
                {{ form.city }}
            </div>
            <div class="form-group">
                <label for="categoryDescription">Quận/ Huyện <span class="required">*</span></label>
                {{ form.district }}
            </div>
            <div class="form-group">
                <label for="categoryDescription">Xã/ Phường <span class="required">*</span></label>
                {{ form.commune }}
            </div>

            <div class="form-group">
                <label for="categoryDescription">Địa chỉ cụ thể <span class="required">*</span></label>
                {{ form.adress }}
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="primary-btn text-center border-0">Thêm địa chỉ</button>
            </div>
        </form>
    </div>

    <style>
        .required{
        color: red;
        margin-left: 3px;
        }
    </style>
{% endblock add_address %}


