{% extends 'app/base.html' %}
{% load static %}
{% block information %}
    {% include 'app/layout/message.html' %}
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4">
                <!-- Thông tin người dùng -->
                <div style="border: none" class="card">
                    {% if profile %}
                        <img style="border-radius: 50%" src="{{ profile.ImageURL }}" class="card-img-top" alt="User Image">
                    {% else %}
                        <img style="border-radius: 50%" src="{% static 'app/images/gray-avatar-picture-profil-vector-32265860.jpg' %}" class="card-img-top" alt="User Image">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">Tên đăng nhập: {{ user.username }}</h5>
                        <p class="card-text">Họ tên: {{ user.first_name }} {{ user.last_name }} </p>
                        <p class="card-text">Email : {{ user.email }} </p>
                        {% if profile %}
                            <p class="card-text">Giới tính: 
                                {% if profile.gender == 'male' %}
                                    Nam
                                {% else %}
                                    Nữ
                                {% endif %}
                            </p>
                            <p class="card-text">Năm sinh : {{ profile.birthdate }} </p>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                            <button class="btn-sm" style="background:#F26460; padding: 6px 10px; border: none "><a style="color: white;" class="text-uppercase" href="{% url 'edit_information' %}">Sửa thông tin</a></button>

                            <button class="btn-sm" style="background:#F26460; padding: 6px 10px; border: none "><a style="color: white;" class="text-uppercase" href="{% url 'addAddress' %}">Đổi mật khẩu</a></button>
                        </div>

{#                        <p class="card-text">Fist name:{{ user.first_name }} </p>#}
{#                        <p class="card-text">Last name: {{ user.last_name }} </p>#}
{#                        <a href="#" class="btn btn-primary">Chỉnh sửa thông tin</a>#}
                    </div>
                </div>
            </div>
            <div  class="col-md-8">
                <div style="min-height: 500px; border: none" class="card">
                    <div class="d-flex justify-content-md-between p-2">
                        <h4>Địa chỉ của tôi</h4>
                        <div class="text-right mb-3">
                            <button style="border: none;" class="primary-btn" data-toggle="modal" ><a style="color: white" href="{% url 'addAddress' %}">Thêm địa chỉ</a></button>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for foo in address_infor %}
                            <div class="d-flex justify-content-md-between">
                                <div class="col-md-6">
                                    <strong>Địa chỉ</strong>
                                    <address>
                                        {{ foo.name_user }} |  {{ foo.mobile}} <br>
                                        {{ foo.commune }} - {{ foo.district }} - {{ foo.city }}<br>
                                        {{ foo.adress }}<br>
                                    </address>
                                </div>
                            <div>
                                <a href="{% url 'editAddress' %}?id={{ foo.id }}" class="btn btn-primary btn-sm">Sửa</a>
                                <a href="{% url 'deleteAddress' %}?id={{ foo.id }}" class="btn btn-danger btn-sm">Xóa</a>
                            </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock information %}
