
{% extends 'app/base.html' %}
{% load static %}
{% block register_content %}
    {% include 'app/layout/message.html' %}
    <div class="container mx-auto" style="max-width: 400px;">
      <h2 class="text-center">ĐĂNG KÍ</h2>
      <form method="POST" action = "" >
        {% comment %}tránh lỗi bảo mật {% endcomment %}
        {% csrf_token %}
         <div class="form-group">
            <label for="name">Họ và tên:</label>
            {{from.username}}
         </div>
         <div class="form-group">
            <label for="email">Email:</label>
            {{from.email}}
         </div>
         <div class="form-group">
            <label for="email">Họ:</label>
            {{from.first_name}}
        </div>
        <div class="form-group">
           <label for="email">Tên:</label>
           {{from.last_name}}
        </div>
        <div class="form-group">
           <label for="password">Mật khẩu:</label>
           {{from.password1}}
        </div>
        <div class="form-group">
           <label for="confirm-password">Xác nhận mật khẩu:</label>
           {{from.password2}}
        </div>
        <button type="submit" class="btn primary-btn btn-block">Đăng ký</button>
        <br/><br/>
        <p style="color: black;">Bạn đã có tài khoản? <a style="color: black;"  href="{% url 'login' %}"><b>Đăng Nhập</b></a></p>
      </form>
    </div>


    <style>
    #id_password2, #id_password1 {
        width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    </style>


{% endblock register_content %}