@media (max-width: 576px) {
    h5 {
      font-size: 16px; /* Kích thước font chữ cho màn hình nhỏ */
    }
  }
  
  @media (max-width: 768px) {
    h5 {
      font-size: 18px; /* Kích thước font chữ cho màn hình trung bình */
    }
  }

@media (max-width: 1440px) {
    img-reponsive{
        height: 500px;
    }
  }