{% load static %}
<footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{% url 'home' %}"><img src="{% static 'app/images/logo111.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: 56 Nguyễn Văn Tuyết (56 ngõ 298 Tây Sơn), Đống Đa, Hà Nội</li>
                            <li>Phone: +84 974.897.450</li>
                            <li>Email: sammynguyen@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên Kết và Hỗ Trợ</h6>
                        <ul>
                            <li><a href="#">Trang Chủ</a></li>
                            <li><a href="#">Sản Phẩm</a></li>
                            <li><a href="#">Tin Tức</a></li>
                            <li><a href="#">Liên Hệ</a></li>
{#                            <li><a href="#">Privacy Policy</a></li>#}
{#                            <li><a href="#">Our Sitemap</a></li>#}
                        </ul>
{#                        <h6>Hỗ Trợ Khách Hàng</h6>#}
                        <ul>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Chính sách vận chuyển</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Quy định sử dụng</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Tham gia với chúng tôi</h6>
                        <p>Nhận thông tin qua Email của cửa hàng để nhận những ưu đãi hấp dẫn</p>
                        <form action="#">
                            <input type="text" placeholder="Email của bạn">
                            <button type="submit" class="site-btn">Đăng Kí</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="footer__copyright">#}
{#                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
{#  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>#}
{#  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>#}
{#                        <div class="footer__copyright__payment"><img src="{% static 'app/images/payment-item.png' %}" alt=""></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </footer>